body{
    margin: 0;
    padding: 0;


}

header{
    display: flex;
    justify-content: center;
    height: 120px;
  
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-attachment: fixed;
    height: 100px;
}
.logo{
display: flex;
align-items: center;



}

.menu{
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;

}
nav ul,
nav li{
   
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
    color: #727272;
    border-radius: 11px;
}
nav .active a,
nav a:hover{
    background-color: #e9ebec;
    color:  #39aae1;
    font-weight: bold;
    
}
#banner{
    background-image: url('./image/national-cancer-institute-fTQHPb6r4wQ-unsplash\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    height: 650px;
    


}